:root {
    --primary-color: #124559;
    --secondary-color: #598392;
    --background-color: #E6B89C;
    --text-color: #EAD2AC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    padding: 4em;
    border: 2px solid black;
    border-radius: 10px;

    background-color: var(--primary-color);
}

h2 {
    color: var(--text-color);
    margin-bottom: 1em;
}

input {
    border-style: none;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 0.5em;
}

button {
    font-size: 0.8em;
    background-color: white;
    margin-top: 1em;
    border-radius: 5px;
    border-style: none;
    padding: 0.5em;
}

button:hover {
    background-color: rgb(204, 203, 203);
}

.registerButton {
    font-size: 0.8em;
    background-color: white;
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    color: black;
    border-radius: 5px;
    cursor: default;
}


.registerButton:hover {
    background-color: rgb(204, 203, 203);
}